Package: com.yourcompany.webtweak
Name: web_tweak
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: ww
Author: ww
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
